<?xml version="1.0" encoding="utf-8"?><!--
  ~ Aurora Store
  ~  Copyright (C) 2021, Rahul Kumar Patel <whyorean@gmail.com>
  ~  Copyright (C) 2022, The Calyx Institute
  ~
  ~  Aurora Store is free software: you can redistribute it and/or modify
  ~  it under the terms of the GNU General Public License as published by
  ~  the Free Software Foundation, either version 2 of the License, or
  ~  (at your option) any later version.
  ~
  ~  Aurora Store is distributed in the hope that it will be useful,
  ~  but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~  GNU General Public License for more details.
  ~
  ~  You should have received a copy of the GNU General Public License
  ~  along with Aurora Store.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aurora.store"
    tools:ignore="MissingClass">
    <uses-sdk android:minSdkVersion="21"
        tools:ignore="GradleOverrides" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.DELETE_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.UPDATE_PACKAGES_WITHOUT_USER_ACTION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_PASSWORD_COMPLEXITY"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="PermissionImpliesUnsupportedHardware" />
    <uses-permission android:name="com.google.android.setupwizard.SETUP_COMPAT_SERVICE" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.gamepad"
        android:required="false"/>

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false"/>

    <uses-feature
        android:name="android.software.device_admin"
        android:required="false"/>

    <application
        android:testOnly="true"
        android:name=".AuroraApplication"
        android:allowBackup="true"
        android:banner="@drawable/ic_tv_banner"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:killAfterRestore="false"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:restoreAnyVersion="true"
        android:restoreNeedsApplication="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Main"
        tools:targetApi="m">

        <activity android:name=".view.ui.onboarding.OnboardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.ui.splash.SplashActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" />

        <activity android:name=".view.ui.details.AppDetailsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="market" android:host="details" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="market.android.com" />
                <data android:path="/store/apps/details" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="play.google.com" />
                <data android:path="/store/apps/details" />
            </intent-filter>
        </activity>


        <activity android:name=".view.ui.details.DevProfileActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="play.google.com" />
                <data android:path="/store/apps/dev" />
            </intent-filter>
        </activity>

        <activity android:name=".view.ui.search.SearchSuggestionActivity" />
        <activity android:name=".view.ui.search.SearchResultsActivity" />
        <activity android:name=".view.ui.commons.StreamBrowseActivity" />
        <activity android:name=".view.ui.sale.AppSalesActivity" />
        <activity android:name=".view.ui.details.ScreenshotActivity" />
        <activity android:name=".view.ui.all.AppsGamesActivity" />
        <activity android:name=".view.ui.commons.CategoryBrowseActivity" />
        <activity android:name=".view.ui.details.DetailsMoreActivity" />
        <activity android:name=".view.ui.details.DetailsReviewActivity" />
        <activity android:name=".view.ui.downloads.DownloadActivity" />
        <activity android:name=".view.ui.account.GoogleActivity" />
        <activity android:name=".view.ui.spoof.SpoofActivity" />
        <activity android:name=".view.ui.account.AccountActivity" />
        <activity android:name=".view.ui.details.DetailsExodusActivity" />
        <activity android:name=".view.ui.details.DevAppsActivity" />
        <activity android:name=".view.ui.commons.BlacklistActivity" />
        <activity android:name=".view.ui.preferences.SettingsActivity" />
        <activity android:name=".view.ui.about.AboutActivity" />
        <activity android:name=".view.ui.commons.ExpandedStreamBrowseActivity" />
        <activity android:name=".view.ui.commons.EditorStreamBrowseActivity" />

        <service android:name=".data.service.NotificationService" />
        <service android:name=".data.installer.InstallerService" />
        <service android:name=".data.service.UpdateService" />
        <service
            android:name="com.novoda.merlin.MerlinService"
            android:exported="false" />
        <service android:name=".data.service.SelfUpdateService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>

        <receiver android:name=".data.receiver.PackageManagerReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name=".data.receiver.DownloadResumeReceiver" />
        <receiver android:name=".data.receiver.DownloadPauseReceiver" />
        <receiver android:name=".data.receiver.DownloadCancelReceiver" />

        <!-- Test DPC -->

        <activity
              android:name="com.afwsamples.testdpc.PolicyManagementActivity"
              android:label="@string/testdpc"
              android:icon="@drawable/ic_launcher"
              android:exported="true"
              android:windowSoftInputMode="adjustPan">
          <intent-filter>
              <action android:name="android.intent.action.MAIN"/>
              <category android:name="android.intent.category.LAUNCHER"/>
          </intent-filter>
          <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
          </intent-filter>
          <intent-filter>
              <action android:name="android.app.action.CHECK_POLICY_COMPLIANCE"/>
              <category android:name="android.intent.category.DEFAULT"/>
          </intent-filter>
        </activity>

        <activity
                android:name="com.afwsamples.testdpc.SetupManagementActivity"
                android:theme="@style/SudThemeGlifV3.Light"
                android:label="@string/setup_app_name"
                android:icon="@drawable/ic_launcher"
                android:taskAffinity="">
        </activity>

        <activity-alias
                android:name="com.afwsamples.testdpc.SetupManagementLaunchActivity"
                android:exported="true"
                android:targetActivity="com.afwsamples.testdpc.SetupManagementActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.INFO"/>
            </intent-filter>
        </activity-alias>

        <activity
                android:name="com.afwsamples.testdpc.AddAccountActivity"
                android:exported="false"
                android:label="@string/testdpc"
                android:icon="@drawable/ic_launcher"
                android:theme="@style/SudThemeGlifV3.Light"/>

        <activity
                android:name="com.afwsamples.testdpc.FinalizeActivity"
                android:exported="true"
                android:label="@string/testdpc"
                android:icon="@drawable/ic_launcher"
                android:theme="@style/SudThemeGlifV3.Light"
                android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.ADMIN_POLICY_COMPLIANCE" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
                android:name="com.afwsamples.testdpc.cosu.EnableCosuActivity"
                android:exported="false"
                android:label="@string/testdpc"
                android:icon="@drawable/ic_launcher"
                android:theme="@style/SudThemeGlifV3.Light"/>

        <activity
                android:name="com.afwsamples.testdpc.policy.locktask.KioskModeActivity"
                android:exported="true"
                android:label="@string/kiosk_mode"
                android:icon="@drawable/ic_launcher"
                android:launchMode="singleInstance"
                android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="com.afwsamples.testdpc.provision.GetProvisioningModeActivity"
                android:exported="true"
                android:permission="android.permission.BIND_DEVICE_ADMIN"
                android:theme="@style/DpcLoginTheme">
            <intent-filter>
                <action android:name="android.app.action.GET_PROVISIONING_MODE" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
                android:name="com.afwsamples.testdpc.provision.ProvisioningSuccessActivity"
                android:exported="true"
                android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.app.action.PROVISIONING_SUCCESSFUL"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="com.afwsamples.testdpc.WorkPolicyInfoActivity"
             android:label="@string/work_policy_info_name"
             android:icon="@drawable/ic_launcher"
             android:exported="true"
             android:launchMode="singleTask">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.settings.SHOW_WORK_POLICY_INFO"/>
            </intent-filter>
        </activity>

        <receiver
                android:name="com.afwsamples.testdpc.DeviceAdminReceiver"
                android:exported="true"
                android:description="@string/testdpc"
                android:label="@string/testdpc"
                android:icon="@drawable/ic_launcher"
                android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                    android:name="android.app.device_admin"
                    android:resource="@xml/device_admin_receiver"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
                <action android:name="android.app.action.PROFILE_PROVISIONING_COMPLETE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.app.action.PROFILE_OWNER_CHANGED"/>
                <action android:name="android.app.action.DEVICE_OWNER_CHANGED"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name="com.afwsamples.testdpc.DelegatedAdminReceiver"
                android:exported="true"
                android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.CHOOSE_PRIVATE_KEY_ALIAS"/>
                <action android:name="android.app.action.NETWORK_LOGS_AVAILABLE"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.afwsamples.testdpc.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.afwsamples.testdpc.policy.resetpassword.ResetPasswordService$LockedBootCompletedReceiver"
                android:enabled="@bool/is_o_or_later"
                android:exported="true"
                android:directBootAware="true"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.afwsamples.testdpc.policy.resetpassword.ResetPasswordService"
                android:enabled="@bool/is_o_or_later"
                android:exported="false"
                android:directBootAware="true"
            tools:targetApi="n">
        </service>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

        <provider
                android:authorities="com.afwsamples.testdpc.fileprovider"
                android:name="androidx.core.content.FileProvider"
                android:grantUriPermissions="true"
                android:exported="false">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/filepaths" />
        </provider>

        <provider
                android:authorities="com.afwsamples.testdpc.usericoncontentprovider"
                android:name="com.afwsamples.testdpc.UserIconContentProvider"
                android:grantUriPermissions="true"
                android:exported="true"
                tools:ignore="ExportedContentProvider">
        </provider>

        <service android:name="com.afwsamples.testdpc.profilepolicy.apprestrictions.AppRestrictionsProxy"
                 android:exported="false">
            <intent-filter>
                <action android:name="com.android.vending.dpc.APPLICATION_RESTRICTIONS_PROXY" />
            </intent-filter>
        </service>

        <service
                android:name="com.afwsamples.testdpc.comp.ProfileOwnerService"
                android:exported="true"
                android:permission="android.permission.BIND_DEVICE_ADMIN"/>

        <service
                android:name="com.afwsamples.testdpc.comp.DeviceOwnerService"
                android:exported="true"
                android:permission="android.permission.BIND_DEVICE_ADMIN"/>

        <service
                android:name="com.afwsamples.testdpc.DeviceAdminService"
                android:enabled="@bool/is_o_or_later"
                android:exported="true"
                android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_SERVICE" />
            </intent-filter>
        </service>

        <service android:name="com.afwsamples.testdpc.feedback.AppStatesService"
                 android:exported="false">
          <intent-filter>
            <action android:name="androidx.enterprise.feedback.action.APP_STATES" />
          </intent-filter>
        </service>

    </application>
</manifest>
